Repository pascaliske/helm-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

.lintstagedrc:

{
  "charts/**/{Chart,values}.yaml": ["task chart:docs --", "git add charts/**/README.md"],
  "charts/**/values.yaml": ["task chart:schema --", "git add charts/**/values.schema.json"]
}

feat(clickhouse): support different image registries
  charts/clickhouse/README.md
  charts/clickhouse/templates/controller.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(clickhouse): support specifying the update strategy of the controller
  charts/clickhouse/README.md
  charts/clickhouse/templates/controller.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(clickhouse): support service account creation
  charts/clickhouse/README.md
  charts/clickhouse/templates/serviceaccount.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(clickhouse): improve default workload security
  charts/clickhouse/README.md
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(clickhouse): release v0.4.0
  charts/clickhouse/Chart.yaml
  charts/clickhouse/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(uptime-kuma): support configuring dns settings for the pod
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/controller.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(uptime-kuma): support deploying extra objects through the chart
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/_helpers.tpl
  charts/uptime-kuma/templates/extra.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(clickhouse): remove invalid artifacthub annotation
  charts/clickhouse/Chart.yaml
Due: task chart:docs --, git add charts/**/README.md

feat(vikunja): support different image registries
  charts/vikunja/README.md
  charts/vikunja/templates/controller.yaml
  charts/vikunja/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(vikunja): support specifying the update strategy of the controller
  charts/vikunja/README.md
  charts/vikunja/templates/controller.yaml
  charts/vikunja/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(vikunja): support service account creation
  charts/vikunja/README.md
  charts/vikunja/templates/serviceaccount.yaml
  charts/vikunja/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(vikunja): support specifying more service values
  charts/vikunja/README.md
  charts/vikunja/templates/service.yaml
  charts/vikunja/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(vikunja): release v5.1.0
  charts/vikunja/Chart.yaml
  charts/vikunja/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(uptime-kuma): support different image registries
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/controller.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(uptime-kuma): support different image flavors with corresponding security context
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/_helpers.tpl
  charts/uptime-kuma/templates/controller.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(uptime-kuma): support environment values using value from syntax
  charts/uptime-kuma/templates/controller.yaml
Due: none

feat(uptime-kuma): support service account creation
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/serviceaccount.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(uptime-kuma): support specifying more service values
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/service.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(uptime-kuma): support specifying the update strategy of the controller
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/controller.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(uptime-kuma): major upgrade to v2
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(uptime-kuma): release v3.0.0
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(paperless): support service account creation
  charts/paperless/README.md
  charts/paperless/templates/serviceaccount.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(paperless): support different image registries
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(paperless): support specifying the update strategy of the controller
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

docs(paperless): update readme for paperless
  charts/paperless/README.md
Due: none

chore: update code workspace file
  helm-charts.code-workspace
Due: none

feat(paperless): support creation of extra templated objects
  charts/paperless/README.md
  charts/paperless/templates/_helpers.tpl
  charts/paperless/templates/extra.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(paperless): support specifying extra containers
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(paperless): support specifying extra volumes and volume mounts
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(paperless): support custom node selector block
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(paperless): support specifying more service values
  charts/paperless/README.md
  charts/paperless/templates/service.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(paperless): improve default workload security
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(paperless): release v6.0.0
  charts/paperless/Chart.yaml
  charts/paperless/README.md
Due: task chart:docs --, git add charts/**/README.md

refactor(paperless): fix typo in template file name
  charts/paperless/templates/persistentvolumeclaim.yaml
Due: none

refactor(paperless): switch to empty dir as default for consumption type
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(paperless): switch to disabled empty dir as default for export type
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(paperless): switch to empty dir as default for trash type
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json
