Repository pascaliske/helm-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): initial chart implementation
  charts/hammond/Chart.yaml
  charts/hammond/README.md
  charts/hammond/README.md.tmpl
  charts/hammond/templates/NOTES.txt
  charts/hammond/templates/_helpers.tpl
  charts/hammond/templates/certificate.yaml
  charts/hammond/templates/controller.yaml
  charts/hammond/templates/ingressroute.yaml
  charts/hammond/templates/service.yaml
  charts/hammond/values.yaml
  mkdocs.yml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): support data persistence for config and asset volumes
  charts/hammond/Chart.yaml
  charts/hammond/README.md
  charts/hammond/templates/controller.yaml
  charts/hammond/templates/persistantvolumeclaim.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(plausible): switch geoipupdate to github container registry
  charts/plausible/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(code-server): switch to github container registry
  charts/code-server/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(code-server): switch to github container registry
  charts/code-server/Chart.yaml
  charts/code-server/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(linkding): use correct volume mount name and pvc conditional
  charts/linkding/Chart.yaml
  charts/linkding/README.md
  charts/linkding/templates/controller.yaml
  charts/linkding/templates/persistantvolumeclaim.yaml
Due: task chart:docs --, git add charts/**/README.md

#265: Auto-generating PAPERLESS_REDIS ENV variable from redis full name when it's blank
  charts/base/templates/_helpers.tpl
  charts/paperless/ci/ct-values.yaml
  charts/paperless/templates/controller.yaml
Due: none

#265: Removed "-headless" from PAPERLESS_REDIS
  charts/paperless/templates/controller.yaml
Due: none

feat(base): add helpers for environment variables
  charts/base/Chart.yaml
  charts/base/README.md
  charts/base/templates/_env.tpl
Due: task chart:docs --, git add charts/**/README.md

refactor(paperless): re-format added code
  charts/paperless/Chart.yaml
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
Due: task chart:docs --, git add charts/**/README.md

refactor(base): add changelog annotation
  charts/base/Chart.yaml
Due: task chart:docs --, git add charts/**/README.md

feat(paperless): auto-generating PAPERLESS_REDIS environment variable
  charts/paperless/Chart.yaml
  charts/paperless/README.md
Due: task chart:docs --, git add charts/**/README.md

fix(paperless): migrate version back to fix pipeline
  charts/paperless/Chart.yaml
  charts/paperless/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(paperless): release v4.1.0
  charts/paperless/Chart.yaml
  charts/paperless/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(task): add more chart maintenance tasks
  .github/taskfiles/chart.yml
Due: none

chore(github): add blocked label
  .github/labels.yml
Due: none

docs(readme): add missing link to hammond chart
  README.md
Due: none

feat: setup new keycloak chart
  README.md
  charts/keycloak/Chart.yaml
  charts/keycloak/README.md
  charts/keycloak/README.md.tmpl
  charts/keycloak/templates/NOTES.txt
  charts/keycloak/templates/_helpers.tpl
  charts/keycloak/templates/controller.yaml
  charts/keycloak/templates/headless-service.yaml
  charts/keycloak/templates/secret.yaml
  charts/keycloak/templates/service.yaml
  charts/keycloak/templates/servicemonitor.yaml
  charts/keycloak/values.yaml
  mkdocs.yml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

docs(keycloak): optimize link style for doc page
  charts/keycloak/README.md
  charts/keycloak/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(keycloak): remove default value for extra args
  charts/keycloak/Chart.yaml
  charts/keycloak/README.md
  charts/keycloak/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(keycloak): allow specifying env values from secrets or configmaps
  charts/keycloak/Chart.yaml
  charts/keycloak/README.md
  charts/keycloak/templates/controller.yaml
Due: task chart:docs --, git add charts/**/README.md

chore(github): generate release notes with chart releaser action
  .github/workflows/release.yml
Due: none

chore(uptime-kuma): release v1.0.6
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(github): do not generate release notes, they're completely wrong
  .github/workflows/release.yml
Due: none

chore(uptime-kuma): add correct description to chart file
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(paperless): allow passing env values from non-hardcoded objects
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

docs(paperless): improve documentation about using existing secrets
  charts/paperless/README.md
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(paperless): release 4.2.0
  charts/paperless/Chart.yaml
  charts/paperless/README.md
Due: task chart:docs --, git add charts/**/README.md

fix(linkding): use correct endpoint for health probes
  charts/linkding/Chart.yaml
  charts/linkding/README.md
  charts/linkding/templates/controller.yaml
Due: task chart:docs --, git add charts/**/README.md

feat(linkding): add support for context path setting of linkding
  charts/linkding/Chart.yaml
  charts/linkding/README.md
  charts/linkding/templates/controller.yaml
Due: task chart:docs --, git add charts/**/README.md

chore(paperless): release 4.2.1
  charts/paperless/Chart.yaml
  charts/paperless/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(prometheus): remove deprecated helm chart
  README.md
  charts/prometheus/Chart.yaml
  charts/prometheus/README.md
  charts/prometheus/README.md.tmpl
  charts/prometheus/templates/NOTES.txt
  charts/prometheus/templates/_helpers.tpl
  charts/prometheus/templates/certificate.yaml
  charts/prometheus/templates/clusterrole.yaml
  charts/prometheus/templates/clusterrolebinding.yaml
  charts/prometheus/templates/configmap.yaml
  charts/prometheus/templates/deployment.yaml
  charts/prometheus/templates/ingressroute.yaml
  charts/prometheus/templates/persistantvolumeclaim.yaml
  charts/prometheus/templates/service.yaml
  charts/prometheus/templates/serviceaccount.yaml
  charts/prometheus/values.yaml
  mkdocs.yml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(code-server): switch traefik api group from traefik.containo.us to traefik.io
  charts/code-server/Chart.yaml
  charts/code-server/README.md
  charts/code-server/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

refactor(gitlab): switch traefik api group from traefik.containo.us to traefik.io
  charts/gitlab/Chart.yaml
  charts/gitlab/README.md
  charts/gitlab/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

refactor(hammond): switch traefik api group from traefik.containo.us to traefik.io
  charts/hammond/Chart.yaml
  charts/hammond/README.md
  charts/hammond/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

refactor(homer): switch traefik api group from traefik.containo.us to traefik.io
  charts/homer/Chart.yaml
  charts/homer/README.md
  charts/homer/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

refactor(linkding): switch traefik api group from traefik.containo.us to traefik.io
  charts/linkding/Chart.yaml
  charts/linkding/README.md
  charts/linkding/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

refactor(paperless): switch traefik api group from traefik.containo.us to traefik.io
  charts/paperless/Chart.yaml
  charts/paperless/README.md
  charts/paperless/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

refactor(plausible): switch traefik api group from traefik.containo.us to traefik.io
  charts/plausible/Chart.yaml
  charts/plausible/README.md
  charts/plausible/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

refactor(snapdrop): switch traefik api group from traefik.containo.us to traefik.io
  charts/snapdrop/Chart.yaml
  charts/snapdrop/README.md
  charts/snapdrop/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

Path conditions:
  task chart:docs --: any of: charts/**/{Chart,values}.yaml
  git add charts/**/README.md: any of: charts/**/{Chart,values}.yaml
  task chart:schema --: any of: charts/**/values.yaml
  git add charts/**/values.schema.json: any of: charts/**/values.yaml
