Repository pascaliske/helm-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore: generate initial chart values schemas
  charts/base/values.schema.json
  charts/clickhouse/values.schema.json
  charts/cloudflare-dyndns/values.schema.json
  charts/cloudflared/values.schema.json
  charts/code-server/values.schema.json
  charts/digitalocean-dyndns/values.schema.json
  charts/fritzbox-exporter/values.schema.json
  charts/gitlab/values.schema.json
  charts/homer/values.schema.json
  charts/linkding/values.schema.json
  charts/paperless/values.schema.json
  charts/plausible-exporter/values.schema.json
  charts/plausible/values.schema.json
  charts/prometheus/values.schema.json
  charts/redis/values.schema.json
  charts/snapdrop/values.schema.json
  charts/traefik-errors/values.schema.json
  charts/unbound/values.schema.json
  charts/uptime-kuma/values.schema.json
  charts/vikunja/values.schema.json
Due: none

fix(snapdrop): remove default values for user IDs
  charts/snapdrop/Chart.yaml
  charts/snapdrop/README.md
  charts/snapdrop/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(snapdrop): release v1.0.3
  charts/snapdrop/Chart.yaml
  charts/snapdrop/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(paperless): allow multiple types of volumes for consumption, export and trash directories
  charts/paperless/Chart.yaml
  charts/paperless/README.md
  charts/paperless/templates/_helpers.tpl
  charts/paperless/templates/controller.yaml
  charts/paperless/values.schema.json
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(plausible): support maxmind geoip database as sidecar container
  charts/plausible/Chart.yaml
  charts/plausible/README.md
  charts/plausible/templates/controller.yaml
  charts/plausible/values.schema.json
  charts/plausible/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(clickhouse): use correct empty default value
  charts/clickhouse/Chart.yaml
  charts/clickhouse/README.md
  charts/clickhouse/values.schema.json
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(cloudflared): use correct empty default value
  charts/cloudflared/Chart.yaml
  charts/cloudflared/README.md
  charts/cloudflared/values.schema.json
  charts/cloudflared/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(code-server): use correct empty default value
  charts/code-server/Chart.yaml
  charts/code-server/README.md
  charts/code-server/values.schema.json
  charts/code-server/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(gitlab): use correct empty default value
  charts/gitlab/Chart.yaml
  charts/gitlab/README.md
  charts/gitlab/values.schema.json
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(linkding): use correct empty default value
  charts/linkding/Chart.yaml
  charts/linkding/README.md
  charts/linkding/values.schema.json
  charts/linkding/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(paperless): use correct empty default value
  charts/paperless/Chart.yaml
  charts/paperless/README.md
  charts/paperless/values.schema.json
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(plausible): use correct empty default value
  charts/plausible/Chart.yaml
  charts/plausible/README.md
  charts/plausible/values.schema.json
  charts/plausible/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(traefik-errors): use correct empty default value
  charts/traefik-errors/Chart.yaml
  charts/traefik-errors/README.md
  charts/traefik-errors/values.schema.json
  charts/traefik-errors/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(unbound): use correct empty default value
  charts/unbound/Chart.yaml
  charts/unbound/README.md
  charts/unbound/values.schema.json
  charts/unbound/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(uptime-kuma): use correct empty default value
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
  charts/uptime-kuma/values.schema.json
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(vikunja): use correct empty default value
  charts/vikunja/Chart.yaml
  charts/vikunja/README.md
  charts/vikunja/values.schema.json
  charts/vikunja/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(plausible): hardcode geoip database edition id
  charts/plausible/Chart.yaml
  charts/plausible/README.md
  charts/plausible/templates/controller.yaml
  charts/plausible/values.schema.json
  charts/plausible/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore: remove values schema generation
  .github/taskfiles/chart.yml
  .lintstagedrc
Due: none

fix(base): remove values schema due to issues with flux variable substitution
  charts/base/Chart.yaml
  charts/base/README.md
  charts/base/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(clickhouse): remove values schema due to issues with flux variable substitution
  charts/clickhouse/Chart.yaml
  charts/clickhouse/README.md
  charts/clickhouse/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(cloudflare-dyndns): remove values schema due to issues with flux variable substitution
  charts/cloudflare-dyndns/Chart.yaml
  charts/cloudflare-dyndns/README.md
  charts/cloudflare-dyndns/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(cloudflared): remove values schema due to issues with flux variable substitution
  charts/cloudflared/Chart.yaml
  charts/cloudflared/README.md
  charts/cloudflared/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(code-server): remove values schema due to issues with flux variable substitution
  charts/code-server/Chart.yaml
  charts/code-server/README.md
  charts/code-server/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(digitalocean-dyndns): remove values schema due to issues with flux variable substitution
  charts/digitalocean-dyndns/Chart.yaml
  charts/digitalocean-dyndns/README.md
  charts/digitalocean-dyndns/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(fritzbox-exporter): remove values schema due to issues with flux variable substitution
  charts/fritzbox-exporter/Chart.yaml
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(gitlab): remove values schema due to issues with flux variable substitution
  charts/gitlab/Chart.yaml
  charts/gitlab/README.md
  charts/gitlab/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(homer): remove values schema due to issues with flux variable substitution
  charts/homer/Chart.yaml
  charts/homer/README.md
  charts/homer/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(linkding): remove values schema due to issues with flux variable substitution
  charts/linkding/Chart.yaml
  charts/linkding/README.md
  charts/linkding/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(paperless): remove values schema due to issues with flux variable substitution
  charts/paperless/Chart.yaml
  charts/paperless/README.md
  charts/paperless/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(plausible): remove values schema due to issues with flux variable substitution
  charts/plausible/Chart.yaml
  charts/plausible/README.md
  charts/plausible/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(plausible-exporter): remove values schema due to issues with flux variable substitution
  charts/plausible-exporter/Chart.yaml
  charts/plausible-exporter/README.md
  charts/plausible-exporter/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(prometheus): remove values schema due to issues with flux variable substitution
  charts/prometheus/Chart.yaml
  charts/prometheus/README.md
  charts/prometheus/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(redis): remove values schema due to issues with flux variable substitution
  charts/redis/Chart.yaml
  charts/redis/README.md
  charts/redis/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(snapdrop): remove values schema due to issues with flux variable substitution
  charts/snapdrop/Chart.yaml
  charts/snapdrop/README.md
  charts/snapdrop/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(traefik-errors): remove values schema due to issues with flux variable substitution
  charts/traefik-errors/Chart.yaml
  charts/traefik-errors/README.md
  charts/traefik-errors/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(unbound): remove values schema due to issues with flux variable substitution
  charts/unbound/Chart.yaml
  charts/unbound/README.md
  charts/unbound/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(uptime-kuma): remove values schema due to issues with flux variable substitution
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
  charts/uptime-kuma/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

fix(vikunja): remove values schema due to issues with flux variable substitution
  charts/vikunja/Chart.yaml
  charts/vikunja/README.md
  charts/vikunja/values.schema.json
Due: task chart:docs --, git add charts/**/README.md

chore(vikunja): release v3.0.5
  charts/vikunja/Chart.yaml
  charts/vikunja/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(plausible): release v0.1.4
  charts/plausible/Chart.yaml
  charts/plausible/README.md
Due: task chart:docs --, git add charts/**/README.md

Path conditions:
  task chart:docs --: any of: charts/**/{Chart,values}.yaml
  git add charts/**/README.md: any of: charts/**/{Chart,values}.yaml
  task chart:schema --: any of: charts/**/values.yaml
  git add charts/**/values.schema.json: any of: charts/**/values.yaml
