Repository pascaliske/helm-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): support specifying extra containers
  charts/hammond/README.md
  charts/hammond/templates/controller.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): support creation of extra templated objects
  charts/hammond/Chart.yaml
  charts/hammond/README.md
  charts/hammond/templates/extra.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(hammond): release v2.0.0
  charts/hammond/Chart.yaml
  charts/hammond/README.md
Due: task chart:docs --, git add charts/**/README.md

chore: remove unused node dependencies
  .commitlintrc.json
  .husky/commit-msg
  .lintstagedrc.json
  package.json
  yarn.lock
Due: none

chore: pin actions to digests
  .github/workflows/labels.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

chore(github): re-enable pushing to registry via workflow
  .github/workflows/release.yml
Due: none

chore: remove lint-staged to reduce dependencies
  .husky/pre-commit
  .lintstagedrc.json
  package.json
  yarn.lock
Due: none

chore: remove node stack completely
  .gitignore
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Due: none

Path conditions:
  task chart:docs --: any of: charts/**/{Chart,values}.yaml
  git add charts/**/README.md: any of: charts/**/{Chart,values}.yaml
  task chart:schema --: any of: charts/**/values.yaml
  git add charts/**/values.schema.json: any of: charts/**/values.yaml
