Repository pascaliske/helm-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(paperless): switch to empty dir as default for media type
  charts/paperless/README.md
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(paperless): create export rbac objects only if export cronjob is enabled
  charts/paperless/templates/role.yaml
  charts/paperless/templates/rolebinding.yaml
Due: none

chore(paperless): release v7.0.0
  charts/paperless/Chart.yaml
  charts/paperless/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(base): support creating extra objects
  charts/base/Chart.yaml
  charts/base/README.md
  charts/base/templates/_extra.tpl
Due: task chart:docs --, git add charts/**/README.md

feat(home-assistant): initial release of home-assistant chart
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
  charts/home-assistant/README.md.tmpl
  charts/home-assistant/templates/NOTES.txt
  charts/home-assistant/templates/_helpers.tpl
  charts/home-assistant/templates/certificate.yaml
  charts/home-assistant/templates/controller.yaml
  charts/home-assistant/templates/extra.yaml
  charts/home-assistant/templates/headless-service.yaml
  charts/home-assistant/templates/ingressroute.yaml
  charts/home-assistant/templates/persistantvolumeclaim.yaml
  charts/home-assistant/templates/prometheusrule.yaml
  charts/home-assistant/templates/service.yaml
  charts/home-assistant/templates/serviceaccount.yaml
  charts/home-assistant/templates/servicemonitor.yaml
  charts/home-assistant/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

docs: add reference to new home-assistant chart
  README.md
  mkdocs.yml
Due: none

refactor: remove deprecated chart
  charts/snapdrop/Chart.yaml
  charts/snapdrop/README.md
  charts/snapdrop/README.md.tmpl
  charts/snapdrop/templates/NOTES.txt
  charts/snapdrop/templates/_helpers.tpl
  charts/snapdrop/templates/certificate.yaml
  charts/snapdrop/templates/controller.yaml
  charts/snapdrop/templates/ingressroute.yaml
  charts/snapdrop/templates/service.yaml
  charts/snapdrop/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(home-assistant): improve default workload security
  charts/home-assistant/README.md
  charts/home-assistant/templates/controller.yaml
  charts/home-assistant/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(home-assistant): support host network mode
  charts/home-assistant/README.md
  charts/home-assistant/templates/controller.yaml
  charts/home-assistant/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(home-assistant): support customizing pod dns policy
  charts/home-assistant/README.md
  charts/home-assistant/templates/controller.yaml
  charts/home-assistant/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(home-assistant): release v0.1.0
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
Due: task chart:docs --, git add charts/**/README.md

fix(home-assistant): switch back to root user due to incompatibilities
  charts/home-assistant/README.md
  charts/home-assistant/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(home-assistant): release v0.1.1
  charts/home-assistant/Chart.yaml
  charts/home-assistant/README.md
Due: task chart:docs --, git add charts/**/README.md

refactor(unbound): standardize values key for update strategy
  charts/unbound/README.md
  charts/unbound/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(unbound): release v2.0.0
  charts/unbound/Chart.yaml
  charts/unbound/README.md
Due: task chart:docs --, git add charts/**/README.md

refactor(cloudflared): standardize values key for update strategy
  charts/cloudflared/README.md
  charts/cloudflared/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(cloudflared): release v3.0.0
  charts/cloudflared/Chart.yaml
  charts/cloudflared/README.md
Due: task chart:docs --, git add charts/**/README.md

refactor(code-server): deprecate chart
  charts/code-server/Chart.yaml
  charts/code-server/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(gitlab): support different image registries
  charts/gitlab/README.md
  charts/gitlab/templates/controller.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(gitlab): support specifying extra containers
  charts/gitlab/README.md
  charts/gitlab/templates/controller.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(gitlab): support specifying more service values
  charts/gitlab/README.md
  charts/gitlab/templates/service.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(gitlab): support service account creation
  charts/gitlab/README.md
  charts/gitlab/templates/_helpers.tpl
  charts/gitlab/templates/serviceaccount.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(gitlab): support custom node selector block
  charts/gitlab/README.md
  charts/gitlab/templates/controller.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(gitlab): support specifying extra init containers
  charts/gitlab/README.md
  charts/gitlab/templates/controller.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(gitlab): support specifying extra volumes and volume mounts
  charts/gitlab/README.md
  charts/gitlab/templates/controller.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(gitlab): support templating inside the config
  charts/gitlab/README.md
  charts/gitlab/templates/configmap.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(gitlab): support image pull secrets
  charts/gitlab/README.md
  charts/gitlab/templates/controller.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(gitlab): support value from syntax for env variables
  charts/gitlab/templates/controller.yaml
Due: none

feat(gitlab): support creation of extra templated objects
  charts/gitlab/README.md
  charts/gitlab/templates/extra.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(gitlab): standardize values key for update strategy
  charts/gitlab/README.md
  charts/gitlab/templates/controller.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(gitlab): support multiple types for the backups volume
  charts/gitlab/README.md
  charts/gitlab/templates/_helpers.tpl
  charts/gitlab/templates/controller.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(gitlab): support specifying container-level security context
  charts/gitlab/README.md
  charts/gitlab/templates/controller.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(gitlab): release v4.0.0
  charts/gitlab/Chart.yaml
  charts/gitlab/README.md
Due: task chart:docs --, git add charts/**/README.md

chore: enforce monitoring crds in chart template command
  .github/taskfiles/chart.yml
Due: none

docs(vaultwarden): remove wrong comment in secret block
  charts/vaultwarden/README.md
  charts/vaultwarden/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(vaultwarden): support different security contexts for container and pod
  charts/vaultwarden/README.md
  charts/vaultwarden/templates/controller.yaml
  charts/vaultwarden/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

Path conditions:
  task chart:docs --: any of: charts/**/{Chart,values}.yaml
  git add charts/**/README.md: any of: charts/**/{Chart,values}.yaml
  task chart:schema --: any of: charts/**/values.yaml
  git add charts/**/values.schema.json: any of: charts/**/values.yaml
