Repository pascaliske/helm-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(homer): add support for affinities
  charts/homer/Chart.yaml
  charts/homer/README.md
  charts/homer/templates/controller.yaml
  charts/homer/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(homer): add support for tolerations
  charts/homer/Chart.yaml
  charts/homer/README.md
  charts/homer/templates/controller.yaml
  charts/homer/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(homer): add support for valueFrom to environment variables
  charts/homer/Chart.yaml
  charts/homer/templates/controller.yaml
Due: task chart:docs --, git add charts/**/README.md

chore(homer): release 2.1.0
  charts/homer/Chart.yaml
  charts/homer/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(renovate): use new default image for homer updates
  charts/homer/Chart.yaml
Due: task chart:docs --, git add charts/**/README.md

feat: create helm chart for vaultwarden
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
  charts/vaultwarden/README.md.tmpl
  charts/vaultwarden/templates/NOTES.txt
  charts/vaultwarden/templates/_helpers.tpl
  charts/vaultwarden/templates/certificate.yaml
  charts/vaultwarden/templates/controller.yaml
  charts/vaultwarden/templates/headless-service.yaml
  charts/vaultwarden/templates/ingressroute.yaml
  charts/vaultwarden/templates/persistantvolumeclaim.yaml
  charts/vaultwarden/templates/role.yaml
  charts/vaultwarden/templates/rolebinding.yaml
  charts/vaultwarden/templates/secret.yaml
  charts/vaultwarden/templates/service.yaml
  charts/vaultwarden/values.yaml
  mkdocs.yml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(vaultwarden): ensure the mount path is propagated to the app if persistence is used
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
  charts/vaultwarden/templates/controller.yaml
Due: task chart:docs --, git add charts/**/README.md

chore: include artifact hub changes comment
  charts/base/Chart.yaml
  charts/base/README.md
  charts/clickhouse/Chart.yaml
  charts/cloudflare-dyndns/Chart.yaml
  charts/cloudflared/Chart.yaml
  charts/code-server/Chart.yaml
  charts/digitalocean-dyndns/Chart.yaml
  charts/fritzbox-exporter/Chart.yaml
  charts/gitlab/Chart.yaml
  charts/hammond/Chart.yaml
  charts/homer/Chart.yaml
  charts/keycloak/Chart.yaml
  charts/linkding/Chart.yaml
  charts/paperless/Chart.yaml
  charts/plausible-exporter/Chart.yaml
  charts/plausible/Chart.yaml
  charts/redis/Chart.yaml
  charts/snapdrop/Chart.yaml
  charts/traefik-errors/Chart.yaml
  charts/unbound/Chart.yaml
  charts/uptime-kuma/Chart.yaml
  charts/vaultwarden/Chart.yaml
  charts/vikunja/Chart.yaml
Due: task chart:docs --, git add charts/**/README.md

fix(homer): ensure image registry is passed to controller
  charts/homer/Chart.yaml
  charts/homer/README.md
  charts/homer/templates/controller.yaml
Due: task chart:docs --, git add charts/**/README.md

feat(vaultwarden): added support for changing the controller update strategy
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
  charts/vaultwarden/templates/controller.yaml
  charts/vaultwarden/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(taskfile): add task for installing the chart for testing purposes
  .github/taskfiles/chart.yml
Due: none

feat: create helm chart for ctfd
  charts/ctfd/Chart.yaml
  charts/ctfd/README.md
  charts/ctfd/README.md.tmpl
  charts/ctfd/templates/NOTES.txt
  charts/ctfd/templates/_helpers.tpl
  charts/ctfd/templates/certificate.yaml
  charts/ctfd/templates/controller.yaml
  charts/ctfd/templates/headless-service.yaml
  charts/ctfd/templates/ingressroute.yaml
  charts/ctfd/templates/persistantvolumeclaim.yaml
  charts/ctfd/templates/secret.yaml
  charts/ctfd/templates/service.yaml
  charts/ctfd/templates/serviceaccount.yaml
  charts/ctfd/values.yaml
  mkdocs.yml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

docs(readme): add missing chart links
  README.md
Due: none

chore(clickhouse): release 0.3.1
  charts/clickhouse/Chart.yaml
  charts/clickhouse/README.md
Due: task chart:docs --, git add charts/**/README.md

refactor(uptime-kuma): use with to wrap service monitor values
  charts/uptime-kuma/templates/servicemonitor.yaml
Due: none

feat(uptime-kuma): implement support for basic authentication inside service monitor
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/servicemonitor.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(gitlab): release 3.2.0
  charts/gitlab/Chart.yaml
  charts/gitlab/README.md
  charts/gitlab/templates/controller.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(github): use default python version for helm chart tests
  .github/workflows/test.yml
Due: none

chore(renovate): extend shared renovate config
  renovate.json
Due: none

feat(vaultwarden): added support for creating a dedicated service account
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
  charts/vaultwarden/templates/serviceaccount.yaml
  charts/vaultwarden/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

docs(vaultwarden): update value comments for new service account
  charts/vaultwarden/README.md
  charts/vaultwarden/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(vaultwarden): clean-up rbac role rules for better security
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
  charts/vaultwarden/templates/role.yaml
Due: task chart:docs --, git add charts/**/README.md

feat: support new metrics port for health and metrics endpoints
  charts/keycloak/Chart.yaml
  charts/keycloak/README.md
  charts/keycloak/templates/controller.yaml
  charts/keycloak/templates/service.yaml
  charts/keycloak/templates/servicemonitor.yaml
  charts/keycloak/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(plausible): upgrade to plausible community edition v2.1.5
  charts/plausible/Chart.yaml
  charts/plausible/README.md
  charts/plausible/templates/NOTES.txt
  charts/plausible/templates/controller.yaml
  charts/plausible/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(plausible): support creating a custom service account object
  charts/plausible/Chart.yaml
  charts/plausible/README.md
  charts/plausible/templates/serviceaccount.yaml
  charts/plausible/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(plausible): support creating a secret object using values
  charts/plausible/Chart.yaml
  charts/plausible/README.md
  charts/plausible/templates/controller.yaml
  charts/plausible/templates/secret.yaml
  charts/plausible/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(plausible): explicitly set http port variable based on chart value
  charts/plausible/templates/controller.yaml
Due: none

chore(plausible): set required values for automated chart tests
  charts/plausible/ci/ct-values.yaml
Due: none

Path conditions:
  task chart:docs --: any of: charts/**/{Chart,values}.yaml
  git add charts/**/README.md: any of: charts/**/{Chart,values}.yaml
  task chart:schema --: any of: charts/**/values.yaml
  git add charts/**/values.schema.json: any of: charts/**/values.yaml
