Repository pascaliske/helm-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(traefik-errors): switch traefik api group from traefik.containo.us to traefik.io
  charts/traefik-errors/Chart.yaml
  charts/traefik-errors/README.md
  charts/traefik-errors/templates/ingressroute.yaml
  charts/traefik-errors/templates/middleware.yaml
Due: task chart:docs --, git add charts/**/README.md

refactor(uptime-kuma): switch traefik api group from traefik.containo.us to traefik.io
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

refactor(vikunja): switch traefik api group from traefik.containo.us to traefik.io
  charts/vikunja/Chart.yaml
  charts/vikunja/README.md
  charts/vikunja/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

chore(chart-testing): disable unsupported helm extra args for chart linting
  .ct/ct-lint.yml
Due: none

feat(plausible): support customizing the mount path of the geoip database
  charts/plausible/Chart.yaml
  charts/plausible/README.md
  charts/plausible/templates/controller.yaml
  charts/plausible/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

docs: switch to sidebar-only navigation
  mkdocs.yml
Due: none

feat(keycloak): implement ingress route and certificate objects into chart
  charts/keycloak/Chart.yaml
  charts/keycloak/README.md
  charts/keycloak/templates/_helpers.tpl
  charts/keycloak/templates/certificate.yaml
  charts/keycloak/templates/ingressroute.yaml
  charts/keycloak/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

docs(readme): update copyright year
  README.md
Due: none

fix(keycloak): remove wrong ingress route rule
  charts/keycloak/Chart.yaml
  charts/keycloak/README.md
  charts/keycloak/templates/ingressroute.yaml
Due: task chart:docs --, git add charts/**/README.md

feat(gitlab): automate registry garbage collection via cron job
  charts/gitlab/Chart.yaml
  charts/gitlab/README.md
  charts/gitlab/templates/_helpers.tpl
  charts/gitlab/templates/cronjob-backup.yaml
  charts/gitlab/templates/cronjob-garbage.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(gitlab): allow specifying custom compute resources for cron jobs
  charts/gitlab/Chart.yaml
  charts/gitlab/README.md
  charts/gitlab/templates/cronjob-backup.yaml
  charts/gitlab/templates/cronjob-garbage.yaml
  charts/gitlab/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor: migrate to husky v9
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

fix(plausible): add ci mock values
  .ct/ct-install.yml
  .ct/ct-lint.yml
  charts/plausible/Chart.yaml
  charts/plausible/README.md
  charts/plausible/ci/ct-values.yaml
  charts/plausible/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix: set default for enabled to false for media folder
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat: Add option to specify media path
  charts/paperless/README.md
  charts/paperless/templates/_helpers.tpl
  charts/paperless/templates/controller.yaml
  charts/paperless/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(paperless): release 5.1.0
  charts/paperless/Chart.yaml
  charts/paperless/README.md
Due: task chart:docs --, git add charts/**/README.md

refactor(clickhouse): update config xmls to latest version
  charts/clickhouse/Chart.yaml
  charts/clickhouse/README.md
  charts/clickhouse/templates/configmap.yaml
Due: task chart:docs --, git add charts/**/README.md

feat(redis): serviceMonitor
  charts/redis/Chart.yaml
  charts/redis/README.md
  charts/redis/templates/controller.yaml
  charts/redis/templates/servicemonitor.yaml
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(redis): split service monitor, service and exporter sidecar
  charts/redis/README.md
  charts/redis/templates/controller.yaml
  charts/redis/templates/service-metrics.yaml
  charts/redis/templates/servicemonitor.yaml
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(keycloak): provide ci values for testing the chart
  charts/keycloak/ci/ct-values.yaml
Due: none

refactor(vikunja): switch to new combined vikunja image
  charts/vikunja/Chart.yaml
  charts/vikunja/README.md
  charts/vikunja/templates/controller.yaml
  charts/vikunja/templates/ingressroute.yaml
  charts/vikunja/templates/service.yaml
  charts/vikunja/templates/servicemonitor.yaml
  charts/vikunja/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(redis) fix redis protocol definition
  .gitignore
  charts/redis/templates/NOTES.txt
  charts/redis/templates/service.yaml
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore: rename branch to main
  .ct/ct-install.yml
  .ct/ct-lint.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
Due: none

chore(redis): release 1.2.0
  charts/redis/Chart.yaml
Due: task chart:docs --, git add charts/**/README.md

Allow to specify Redis exporter ressources or security context
  charts/redis/templates/controller.yaml
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(redis): update default values for redis exporter
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(redis): release 1.3.0
  charts/redis/Chart.yaml
  charts/redis/README.md
Due: task chart:docs --, git add charts/**/README.md

refactor(paperless): ensure correct port value is used for redis subchart
  charts/paperless/templates/controller.yaml
Due: none

fix(paperless): use correct helper to prevent unnecessary pvc creation
  charts/paperless/Chart.yaml
  charts/paperless/README.md
  charts/paperless/templates/persistantvolumeclaim.yaml
Due: task chart:docs --, git add charts/**/README.md

Update persistantvolumeclaim.yaml
  charts/clickhouse/templates/persistantvolumeclaim.yaml
Due: none

Add Kubernetes Priority Classes support
  charts/redis/Chart.yaml
  charts/redis/templates/controller.yaml
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

Follow docs conventions
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

Fix docs
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(redis): re-order values, update docs
  charts/redis/README.md
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(package): set package manager flag
  package.json
Due: none

feat(homer): add support for overwriting the image registry, use default image from ghcr.io
  charts/homer/Chart.yaml
  charts/homer/README.md
  charts/homer/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(homer): add support for additional containers
  charts/homer/Chart.yaml
  charts/homer/README.md
  charts/homer/templates/controller.yaml
  charts/homer/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

Path conditions:
  task chart:docs --: any of: charts/**/{Chart,values}.yaml
  git add charts/**/README.md: any of: charts/**/{Chart,values}.yaml
  task chart:schema --: any of: charts/**/values.yaml
  git add charts/**/values.schema.json: any of: charts/**/values.yaml
