Repository pascaliske/helm-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

.lintstagedrc:

{
  "charts/**/{Chart,values}.yaml": ["task chart:docs --", "git add charts/**/README.md"],
  "charts/**/values.yaml": ["task chart:schema --", "git add charts/**/values.schema.json"]
}

feat(redis): support extra containers
  charts/redis/Chart.yaml
  charts/redis/README.md
  charts/redis/templates/controller.yaml
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(redis): support image pull secrets
  charts/redis/Chart.yaml
  charts/redis/README.md
  charts/redis/templates/controller.yaml
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(redis): release v2.1.0
  charts/redis/Chart.yaml
  charts/redis/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(fritzbox-exporter): support service account creation
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/serviceaccount.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support specifying the update strategy of the controller
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/controller.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support specifying more service values
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/service.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support tolerations and affinity blocks
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/controller.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support different image registries
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/controller.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(fritzbox-exporter): release v2.1.0
  charts/fritzbox-exporter/Chart.yaml
  charts/fritzbox-exporter/README.md
Due: task chart:docs --, git add charts/**/README.md

fix(fritzbox-exporter): use correct name for created service account
  charts/fritzbox-exporter/templates/_helpers.tpl
Due: none

chore(fritzbox-exporter): release v2.1.1
  charts/fritzbox-exporter/Chart.yaml
  charts/fritzbox-exporter/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(plausible-exporter): support service account creation
  charts/plausible-exporter/README.md
  charts/plausible-exporter/templates/_helpers.tpl
  charts/plausible-exporter/templates/serviceaccount.yaml
  charts/plausible-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(plausible-exporter): support specifying the update strategy of the controller
  charts/plausible-exporter/README.md
  charts/plausible-exporter/templates/controller.yaml
  charts/plausible-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(plausible-exporter): support specifying more service values
  charts/plausible-exporter/README.md
  charts/plausible-exporter/templates/service.yaml
  charts/plausible-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(plausible-exporter): support tolerations and affinity blocks
  charts/plausible-exporter/README.md
  charts/plausible-exporter/templates/controller.yaml
  charts/plausible-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(plausible-exporter): support different image registries
  charts/plausible-exporter/README.md
  charts/plausible-exporter/templates/controller.yaml
  charts/plausible-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

refactor(plausible-exporter): always use deployment for stateless exporter
  charts/plausible-exporter/templates/controller.yaml
  charts/plausible-exporter/templates/headless-service.yaml
Due: none

chore(plausible-exporter): release v1.0.0
  charts/plausible-exporter/Chart.yaml
  charts/plausible-exporter/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(unbound): support service account creation
  charts/unbound/README.md
  charts/unbound/templates/_helpers.tpl
  charts/unbound/templates/serviceaccount.yaml
  charts/unbound/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(unbound): support different image registries
  charts/unbound/README.md
  charts/unbound/templates/controller.yaml
  charts/unbound/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(pairdrop): release v1.1.0
  charts/pairdrop/Chart.yaml
  charts/pairdrop/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(cloudflare-dyndns): support different image registries
  charts/cloudflare-dyndns/README.md
  charts/cloudflare-dyndns/templates/cronjob.yaml
  charts/cloudflare-dyndns/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(cloudflare-dyndns): support service account creation
  charts/cloudflare-dyndns/README.md
  charts/cloudflare-dyndns/templates/cronjob.yaml
  charts/cloudflare-dyndns/templates/serviceaccount.yaml
  charts/cloudflare-dyndns/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(cloudflare-dyndns): improve default workload security
  charts/cloudflare-dyndns/README.md
  charts/cloudflare-dyndns/templates/cronjob.yaml
  charts/cloudflare-dyndns/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(cloudflare-dyndns): support tolerations and affinity blocks
  charts/cloudflare-dyndns/README.md
  charts/cloudflare-dyndns/templates/cronjob.yaml
  charts/cloudflare-dyndns/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(cloudflare-dyndns): release v0.2.0
  charts/cloudflare-dyndns/Chart.yaml
  charts/cloudflare-dyndns/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(hammond): support different image registries
  charts/hammond/README.md
  charts/hammond/templates/controller.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): support service account creation
  charts/hammond/README.md
  charts/hammond/templates/serviceaccount.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): support specifying the update strategy of the controller
  charts/hammond/README.md
  charts/hammond/templates/controller.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(hammond): release v1.1.0
  charts/hammond/Chart.yaml
  charts/hammond/README.md
Due: task chart:docs --, git add charts/**/README.md

refactor(linkding): update docs
  charts/linkding/README.md
Due: none

feat(linkding): support specifying the update strategy of the controller
  charts/linkding/README.md
  charts/linkding/templates/controller.yaml
  charts/linkding/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(linkding): support different image registries
  charts/linkding/README.md
  charts/linkding/templates/controller.yaml
  charts/linkding/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(linkding): support service account creation
  charts/linkding/README.md
  charts/linkding/templates/serviceaccount.yaml
  charts/linkding/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(linkding): support specifying more service values
  charts/linkding/README.md
  charts/linkding/templates/service.yaml
  charts/linkding/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(linkding): release v2.3.0
  charts/linkding/Chart.yaml
  charts/linkding/README.md
Due: task chart:docs --, git add charts/**/README.md

refactor(clickhouse): update docs
  charts/clickhouse/README.md
Due: none
