Repository pascaliske/helm-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

.lintstagedrc:

{
  "charts/**/{Chart,values}.yaml": ["task chart:docs --", "git add charts/**/README.md"],
  "charts/**/values.yaml": ["task chart:schema --", "git add charts/**/values.schema.json"]
}

docs(readme): update copyright year
  README.md
Due: none

refactor(snapdrop): deprecate chart due to company acquisition
  README.md
  charts/snapdrop/Chart.yaml
  charts/snapdrop/README.md
  mkdocs.yml
Due: task chart:docs --, git add charts/**/README.md

feat: implement chart for pairdrop
  README.md
  charts/pairdrop/Chart.yaml
  charts/pairdrop/README.md
  charts/pairdrop/README.md.tmpl
  charts/pairdrop/templates/NOTES.txt
  charts/pairdrop/templates/_helpers.tpl
  charts/pairdrop/templates/certificate.yaml
  charts/pairdrop/templates/controller.yaml
  charts/pairdrop/templates/ingressroute.yaml
  charts/pairdrop/templates/service.yaml
  charts/pairdrop/templates/serviceaccount.yaml
  charts/pairdrop/values.yaml
  mkdocs.yml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(pairdrop): enforce puid and pgid variables based on security context values
  charts/pairdrop/Chart.yaml
  charts/pairdrop/README.md
  charts/pairdrop/templates/controller.yaml
  charts/pairdrop/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

fix(pairdrop): configure startup probe for container
  charts/pairdrop/Chart.yaml
  charts/pairdrop/README.md
  charts/pairdrop/templates/controller.yaml
Due: task chart:docs --, git add charts/**/README.md

chore(config): migrate config renovate.json
  renovate.json
Due: none

feat(uptime-kuma): support sidecar containers for uptime-kuma
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/controller.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(uptime-kuma): implement support for sidecar containers
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/controller.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(uptime-kuma): implement support for extra volumes and volume mounts
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/templates/controller.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

docs(uptime-kuma): fix values docs
  charts/uptime-kuma/README.md
Due: none

chore(deps): update sissbruecker/linkding docker tag to v1.40.0
  charts/linkding/Chart.yaml
  charts/linkding/README.md
  charts/linkding/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(redis): release v1.5.0 with latest redis v7 image
  charts/redis/Chart.yaml
  charts/redis/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(redis): release v2.0.0 with latest redis v8 image
  charts/redis/Chart.yaml
  charts/redis/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(github): generate release notes for charts
  .github/workflows/release.yml
Due: none

chore(github): run release workflow only once and if chart sources changed
  .github/workflows/release.yml
Due: none

chore(github): push charts to container registry
  .github/workflows/release.yml
Due: none

feat(homer): support changing the update strategy
  charts/homer/Chart.yaml
  charts/homer/README.md
  charts/homer/templates/controller.yaml
  charts/homer/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(homer): support creating dedicated service account
  charts/homer/Chart.yaml
  charts/homer/README.md
  charts/homer/templates/serviceaccount.yaml
  charts/homer/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(homer): specify user ids and make filesystem read-only
  charts/homer/Chart.yaml
  charts/homer/templates/controller.yaml
Due: task chart:docs --, git add charts/**/README.md

feat(homer): support more values for service configuration
  charts/homer/Chart.yaml
  charts/homer/README.md
  charts/homer/templates/service.yaml
  charts/homer/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(homer): release v2.2.0
  charts/homer/Chart.yaml
  charts/homer/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(ctfd): release v1.1.0
  charts/ctfd/Chart.yaml
  charts/ctfd/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(uptime-kuma): release v2.3.0
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(vaultwarden): release v1.3.0
  charts/vaultwarden/Chart.yaml
  charts/vaultwarden/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(git): ignore node modules folder
  .gitignore
Due: none

feat(uptime-kuma): support label based node selection
  charts/uptime-kuma/Chart.yaml
  charts/uptime-kuma/README.md
  charts/uptime-kuma/templates/controller.yaml
  charts/uptime-kuma/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(linkding): bump chart version following appVersion bump
  charts/linkding/Chart.yaml
Due: task chart:docs --, git add charts/**/README.md

chore(linkding): release v2.2.0
  charts/linkding/Chart.yaml
  charts/linkding/README.md
Due: task chart:docs --, git add charts/**/README.md

chore(paperless-ngx): release v5.2.0
  charts/paperless/Chart.yaml
  charts/paperless/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(redis): support affinity, tolerations and node selector fields
  charts/redis/Chart.yaml
  charts/redis/README.md
  charts/redis/templates/controller.yaml
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(redis): support extra volumes and extra volume mounts
  charts/redis/Chart.yaml
  charts/redis/README.md
  charts/redis/templates/controller.yaml
  charts/redis/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json
