Repository pascaliske/helm-charts: changes, and which lint-staged commands are due for each by the changed paths.
All: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(pairdrop): support specifying priority class name
  charts/pairdrop/README.md
  charts/pairdrop/templates/controller.yaml
  charts/pairdrop/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(pairdrop): support different security contexts for container and pod
  charts/pairdrop/README.md
  charts/pairdrop/templates/controller.yaml
  charts/pairdrop/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(pairdrop): support custom node selector block
  charts/pairdrop/README.md
  charts/pairdrop/templates/controller.yaml
  charts/pairdrop/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(pairdrop): support value from syntax in environment variables
  charts/pairdrop/templates/controller.yaml
Due: none

chore(pairdrop): release v2.0.0
  charts/pairdrop/Chart.yaml
  charts/pairdrop/README.md
Due: task chart:docs --, git add charts/**/README.md

refactor: remove deprecated chart
  README.md
  charts/code-server/Chart.yaml
  charts/code-server/README.md
  charts/code-server/README.md.tmpl
  charts/code-server/ci/ct-values.yaml
  charts/code-server/templates/NOTES.txt
  charts/code-server/templates/_helpers.tpl
  charts/code-server/templates/certificate.yaml
  charts/code-server/templates/configmap.yaml
  charts/code-server/templates/controller.yaml
  charts/code-server/templates/cronjob.yaml
  charts/code-server/templates/headless-service.yaml
  charts/code-server/templates/ingressroute.yaml
  charts/code-server/templates/persistantvolumeclaim.yaml
  charts/code-server/templates/scripts.yaml
  charts/code-server/templates/secret.yaml
  charts/code-server/templates/service.yaml
  charts/code-server/values.yaml
  mkdocs.yml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

docs: update all documentation
  LICENSE.md
  README.md
  charts/clickhouse/README.md
  charts/cloudflare-dyndns/README.md
  charts/digitalocean-dyndns/README.md
  charts/fritzbox-exporter/README.md
  charts/gitlab/README.md
  charts/hammond/README.md
  charts/home-assistant/README.md
  charts/keycloak/README.md
  charts/paperless/README.md
  charts/plausible-exporter/README.md
  charts/plausible/README.md
  charts/redis/README.md
  charts/traefik-errors/README.md
  charts/uptime-kuma/README.md
  charts/vaultwarden/README.md
  charts/vikunja/README.md
  package.json
Due: none

feat(homer): support image pull secrets
  charts/homer/README.md
  charts/homer/templates/controller.yaml
  charts/homer/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(homer): release v3.1.0
  charts/homer/Chart.yaml
  charts/homer/README.md
Due: task chart:docs --, git add charts/**/README.md

fix(homer): only pass config volume if actually supplied or created
  charts/homer/templates/controller.yaml
Due: none

chore(homer): release v3.1.1
  charts/homer/Chart.yaml
  charts/homer/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(clickhouse): support specifying extra init containers
  charts/clickhouse/README.md
  charts/clickhouse/templates/controller.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(clickhouse): support specifying extra containers
  charts/clickhouse/README.md
  charts/clickhouse/templates/controller.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(clickhouse): support specifying extra volumes and volume mounts
  charts/clickhouse/README.md
  charts/clickhouse/templates/controller.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(clickhouse): support creation of extra templated objects
  charts/clickhouse/Chart.yaml
  charts/clickhouse/README.md
  charts/clickhouse/templates/extra.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(clickhouse): support specifying priority class name
  charts/clickhouse/README.md
  charts/clickhouse/templates/controller.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(clickhouse): support different security contexts for container and pod
  charts/clickhouse/README.md
  charts/clickhouse/templates/controller.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(clickhouse): support custom node selector block
  charts/clickhouse/README.md
  charts/clickhouse/templates/controller.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(clickhouse): support value from syntax in environment variables
  charts/clickhouse/templates/controller.yaml
Due: none

feat(clickhouse): support image pull secrets
  charts/clickhouse/README.md
  charts/clickhouse/templates/controller.yaml
  charts/clickhouse/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

chore(clickhouse): release v1.0.0
  charts/clickhouse/Chart.yaml
  charts/clickhouse/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(fritzbox-exporter): support specifying extra init containers
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/controller.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support specifying extra containers
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/controller.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support specifying extra volumes and volume mounts
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/controller.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support creation of extra templated objects
  charts/fritzbox-exporter/Chart.yaml
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/extra.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support specifying priority class name
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/controller.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support different security contexts for container and pod
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/controller.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support custom node selector block
  charts/fritzbox-exporter/README.md
  charts/fritzbox-exporter/templates/controller.yaml
  charts/fritzbox-exporter/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(fritzbox-exporter): support value from syntax in environment variables
  charts/fritzbox-exporter/templates/controller.yaml
Due: none

chore(fritzbox-exporter): release v3.0.0
  charts/fritzbox-exporter/Chart.yaml
  charts/fritzbox-exporter/README.md
Due: task chart:docs --, git add charts/**/README.md

feat(hammond): support image pull secrets
  charts/hammond/README.md
  charts/hammond/templates/controller.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): support custom node selector block
  charts/hammond/README.md
  charts/hammond/templates/controller.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): support different security contexts for container and pod
  charts/hammond/README.md
  charts/hammond/templates/controller.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): support specifying priority class name
  charts/hammond/README.md
  charts/hammond/templates/controller.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): support specifying extra volumes and volume mounts
  charts/hammond/README.md
  charts/hammond/templates/controller.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

feat(hammond): support specifying extra init containers
  charts/hammond/README.md
  charts/hammond/templates/controller.yaml
  charts/hammond/values.yaml
Due: task chart:docs --, git add charts/**/README.md, task chart:schema --, git add charts/**/values.schema.json

Path conditions:
  task chart:docs --: any of: charts/**/{Chart,values}.yaml
  git add charts/**/README.md: any of: charts/**/{Chart,values}.yaml
  task chart:schema --: any of: charts/**/values.yaml
  git add charts/**/values.schema.json: any of: charts/**/values.yaml
